In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [('James','Smith','M',30),('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]
columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

In [0]:
from pyspark.sql.functions import concat_ws,col,lit
df.select(concat_ws(" ",df.firstname,df.lastname).alias("name"), \
          df.gender,lit(df.salary*2).alias("new_salary")).show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James Smith|     M|        60|
|      Anna Rose|     F|        82|
|Robert Williams|     M|       124|
+---------------+------+----------+

In [0]:
# PySpark map() Transformation is used to loop/iterate through the PySpark DataFrame/RDD by applying the transformation function (lambda) on every element (Rows and Columns) of RDD/DataFrame.`

In [0]:
# Refering columns by index.
rdd=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd.toDF(["name","gender","new_salary"])
df2.show()

# type(rdd)

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

In [0]:
# Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x.firstname+","+x.lastname,x.gender,x.salary*2)
    ) 
df3=rdd2.toDF(["name","gender","new_salary"])
df3.show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

In [0]:
# By Calling function
# rdd.collect()
def func1(y):
#     y=x.toDF(["firstName","lastName","gender","salary"])
#     x.show()
#     print("hi")
    #x.collect()
    firstName=y.firstname
    lastName=y.lastname
    name=firstName+lastName
#     name=" Mr "+y.name
    gender=y.gender.lower()
    salary=y.salary*2
#      z=spark.createDataFrame(data=data, schema = columns)
#     print(type(y))
    return(name,gender,salary)
#func1(rdd).toDF.show()
rdd3=df.rdd.map(lambda x: func1(x))
rdd3.collect()
# df4=rdd3.toDF(["name","gender","salary"])
# df4.show()

Out[83]: [('JamesSmith', 'm', 60), ('AnnaRose', 'f', 82), ('RobertWilliams', 'm', 124)]

In [0]:
def func1(y):
    firstName=y.firstname
    lastName=y.lastname
    name=firstName+lastName
#     name=y.name
    gender=y.gender.lower()
    if y.salary>40:
        salary=y.salary*2
    else:
        salary=y.salary*3
    return(name,gender,salary)
#     print(salary)
#      z=spark.createDataFrame(data=data, schema = columns)
#     print(type(y))
# func1(rdd)

#func1(rdd).toDF.show()
rdd4=df.rdd.map(lambda x: func1(x))
rdd4.collect()
df5=rdd4.toDF(["name","gender","salary"])
df5.show()

+--------------+------+------+
|          name|gender|salary|
+--------------+------+------+
|    JamesSmith|     m|    90|
|      AnnaRose|     f|    82|
|RobertWilliams|     m|   124|
+--------------+------+------+

In [0]:
dff=df.foreach(lambda x: 
    print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*2)) if x["salary"]<40 else print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*3))
    )
dff.show()
# rdd5=df.foreach(lambda x: x["salary"]*2 if x["salary"]<40 else x["salary"]*3) 
#             if x["salary"]<40:
#                print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+(x["salary"]*2))
#             else:
#                print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+(x["salary"]*3)))
# df6=rdd5.toDF(["name","gender","salary"])
# rdd5.collect()
# rdd5.show()
# df6.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-845083054982622> in <module>
      2     print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*2)) if x["salary"]<40 else print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*3))
      3     )
----> 4 dff.show()
      5 # rdd5=df.foreach(lambda x: x["salary"]*2 if x["salary"]<40 else x["salary"]*3)
      6 #             if x["salary"]<40:

AttributeError: 'NoneType' object has no attribute 'show'

In [0]:
def f(x): 
    print(x)
df.foreach(f)

In [0]:
#Map functions with if else
rdd5=df.rdd.map(lambda x: x["salary"]*2 if x["salary"]<40 else x["salary"]*3)
#                                print("Data ==>"+x["firstname"]+" "+x["lastname"]+","+x["gender"]+","+(x["salary"]*2))
#                            else:
#                                print("Data ==>"+x["firstname"]+" "+x["lastname"]+","+x["gender"]+","+(x["salary"]*3)))

rdd5.collect()
# df6.show()

Out[120]: [60, 123, 186]

In [0]:
# func1(df)

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+